<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  <targets>
    <target name="logfile" xsi:type="File" fileName="${baseDir}/Logs/${date:cached=True:format=yyyy-MM-dd}.log"
        layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${level} ${message}" encoding="UTF-8" />
    <target xsi:type="Debugger" name="debugger" layout="${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
  </rules>
</nlog>