<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <DESKTOP-HR92VS4>
    <BaseURL>http://static.bphots.com/bp_helper/client/data//18010601</BaseURL>
    <CompareVersion>False</CompareVersion>
    <OutputFolder>E:\Repos\HotsBpHelper\HotsBpHelper\bin\Release</OutputFolder>
    <AddExtension>
    </AddExtension>
    <CopyFiles>True</CopyFiles>
    <CompareHash>True</CompareHash>
    <CompareSize>True</CompareSize>
    <CleanUp>True</CleanUp>
    <CompareDate>False</CompareDate>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" /&gt;</IgnoreFiles>
    <FeedXML>d:\用户目录\我的文档\My Programs\WPF\HotsBpHelper\HotsBpHelper\bin\17062401\Update.xml</FeedXML>
    <IgnoreVsHosting>True</IgnoreVsHosting>
  </DESKTOP-HR92VS4>
</Settings>