<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <PC-201701031010>
    <BaseURL>http://bphots-client-files.oss-cn-shanghai.aliyuncs.com/bp_helper/client/17062401</BaseURL>
    <CompareVersion>False</CompareVersion>
    <OutputFolder>d:\用户目录\我的文档\My Programs\WPF\HotsBpHelper\HotsBpHelper\bin\Release</OutputFolder>
    <AddExtension>
    </AddExtension>
    <CopyFiles>True</CopyFiles>
    <CompareHash>True</CompareHash>
    <CompareSize>True</CompareSize>
    <CleanUp>True</CleanUp>
    <CompareDate>False</CompareDate>
    <IgnoreDebugSymbols>True</IgnoreDebugSymbols>
    <IgnoreFiles>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
  &lt;string&gt;start.bat&lt;/string&gt;
  &lt;string&gt;Logs\2017-06-26.log&lt;/string&gt;
&lt;/ArrayOfString&gt;</IgnoreFiles>
    <FeedXML>d:\用户目录\我的文档\My Programs\WPF\HotsBpHelper\HotsBpHelper\bin\17062401\Update.xml</FeedXML>
    <IgnoreVsHosting>True</IgnoreVsHosting>
  </PC-201701031010>
</Settings>