<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="Tesseract" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="console" />
          <!-- Uncomment to log to file
				<add name="file" />
				-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />

		<add name="file"
		   type="System.Diagnostics.TextWriterTraceListener"
		   initializeData="D:\qqytqqyt\Documents\HeroesBpProject\OcrHelper\OcrDebugger\bin\Debug\tesseract.log" />
    </sharedListeners>
  </system.diagnostics>
</configuration>